<div class="container">
    <div class="row">
        <div class="col m6 offset-m3 s10 offset-s1">
            <div class="row">
                <h5 class="red-text text-lighten-2">Novo Restaurante</h5>
            </div>
            <form #restaurantForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="name" #name="ngModel" id="name" type="text" class="validate" required [(ngModel)]="_restaurant.name">
                        <label for="name">Nome</label>
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            Nome é obrigatorio
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <textarea name="description" id="description" class="" [(ngModel)]="_restaurant.description"></textarea>
                        <label for="description">Descrição</label>
                    </div>
                </div>
                <div class="row">
                    <a class="btn left" href="javascript:void(0)" routerLink="/restaurants">Voltar</a>
                    <button class="btn waves-effect waves-light right" [disabled]="!restaurantForm.form.valid" type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>