  /* label color */
  
  .input-field label {
      color: #EE6E73!important;
  }
  /* label focus color */
  
  .input-field input[type=text]:focus+label {
      color: #EE6E73;
  }
  /* label underline focus color */
  
  .input-field input[type=text]:focus {
      border-bottom: 1px solid #EE6E73;
      box-shadow: 0 1px 0 0 #EE6E73;
  }
  /* valid color */
  
  .input-field input[type=text].valid {
      border-bottom: 1px solid #EE6E73;
      box-shadow: 0 1px 0 0 #EE6E73;
  }
  /* invalid color */
  
  .input-field input[type=text].invalid {
      border-bottom: 1px solid #EE6E73;
      box-shadow: 0 1px 0 0 #EE6E73;
  }
  /* icon prefix focus color */
  
  .input-field .prefix.active {
      color: #EE6E73;
  }