<div class="home">
    <div class="container">
        <div class="center-align row">
            <div class="col m10 s12 offset-s0 offset-m1">
                <h4 class="title blue-grey-text text-lighten-5">BedaFoods</h4>
            </div>
            <div class="col m10 s12 offset-s0 offset-m1">
                <h5 class="subtitle white-text">
                    Sistema de cadastros de Restaurante
                </h5>
                <a routerLink="/restaurants" class="btn red lighten-1 btn-restaurants">Cadastrar Seu Restaurante           </a>
            </div>
        </div>
    </div>
</div>